.course-text {
    font-size: 2rem;
    color: var(--font-color);
    text-align: center;
    font-weight: normal;
    margin-top: 2rem;

}
.secondary {
    text-align: center;
    margin-left: -28rem;
}

.bhome:hover {
    transform: translateY(-15px);

}
.course-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,510px));
    gap: 2rem;
    margin-left: 6.3rem;
    align-items: center;
    margin-top: 2.3rem;
    cursor: pointer;
    border-radius: 15px;
}
.rowing {
    background-color: aliceblue;
    padding: 0 0 10px;
    border-radius: 20px;
    box-shadow: 0 5px 40px rgb(197, 159, 163);
    /* box-shadow: var(--shadow); */
    transition: all 0.40s ease;
    gap: 1.2rem;
}
.rowing:hover {
    transform: translateY(-15px);
}
#im {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.course {
    padding: 40px 20px;
    font-size: 1.2rem;
    /* color: rgb(74, 73, 80); */
    color: var(--font-color);
    margin-left: 3rem;
}
.web {
    font-size: 1.5rem;
    color: #DAA69B;

}

.course p {
    color: #afafaf;
    font-size: 1rem;
}
.course h3 {
    font-style: 20px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0;
    transition: all 0.40s ease;
}
.course h3:hover {
    color: var(--font-color);

}
.course h6 {
    color: #AFAFAF;
    font-weight: 400;
    margin-right: 2rem;
    text-align: right;
    line-height: 30px;
    letter-spacing: 1px;

}
.star {
    padding-left: 1rem;

    height: 3rem;

}
.star img {
    width: 30px;
    margin-bottom: 4rem;
}
.bhom {
    margin-left: 22rem;
    margin-top: 2rem;
}
.bhom:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background-color: var(--shadow);

}
.secondary h5 {
    margin-left: 29rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    font-weight: normal;

}
#span1 {
    padding-left: 4rem;
    color: var(--font-color);
}
#span2 {
    padding-left: 1.1rem;
    color: var(--font-color);
}
.bhome {
    margin-left: 29rem;
}
